
.modal-backdrop {
    position:unset !important;
}

html {
    overflow: hidden;
    height: 100%;
}
body {
    overflow: auto;
    height: 100%;
    width: 100%;
}

/* unset bs3 setting */
.modal-open {
    overflow: auto;
}

#image1 {
    display: none;
}

#filter1{
    display: none;
}